<div class="container game-info-div">

  <div id="game-info-panel" class="container col-xs-12">

    <div id="game-info-game-img-div"class="container col-xs-3">
      <img class="img-thumbnail" src="{{game.cover_url}}" alt="Game Cover">
    </div>

    <div class="container col-xs-7 game-info-text-div">
      <h2 class="game-info-text">Game Info</h2>
      <div class="container col-xs-12">
        <h3>Title: <strong>{{game.title}}</strong></h3>
        <h4>Status: <strong>{{statusName}}</strong></h4>
        <button data-id="{{game.id}}" class="btn btn-sm btn-danger delete-game-button">Delete Game</button>
      </div>

      <br>

      <div class="container col-xs-12 update-status-buttons-div">
        <h4>Update Play Status</h4>
        {{#unless isWantToPlay}}
          <button id="want-to-play-button" data-id="{{game.id}}" class="btn btn-info">Want to Play</button>
        {{/unless}}
        {{#unless isStarted}}
          <button id="started-playing-button" data-id="{{game.id}}" class="btn btn-info">Started Playing</button>
        {{/unless}}
        {{#unless isCompleted}}
          <button id="completed-button" data-id="{{game.id}}" class="btn btn-info">Finished Playing</button>
        {{/unless}}
      </div>

    </div>

    <div id="close-game-info-panel" class="col-xs-1">
      <button id="close-game-info-button" class="btn btn-info">Close</button>
    </div>

  </div>

</div>
