<div class="container games-lists-div">

<!-- WANT TO PLAY | WANT TO PLAY | WANT TO PLAY | WANT TO PLAY | -->
<!-- WANT TO PLAY | WANT TO PLAY | WANT TO PLAY | WANT TO PLAY | -->
<div id="want-to-play-div" class="container col-xs-4 list-container-div">
  <h2 class="list-header">Want to Play</h2>
  <div class="col-xs-12">

      {{#each wantToPlayGames as |wantToPlayGame|}}

        <div class="list-item-div active hover" data-id="{{wantToPlayGame.id}}">
          <div class="col-xs-7">
            <h4 data-id="{{wantToPlayGame.id}}">{{wantToPlayGame.title}}</h4>
          </div>
          <div class="col-xs-5">
            <button data-id="{{wantToPlayGame.id}}" class="btn btn-sm btn-info list-item-more-button">More</button>
            <button data-id="{{wantToPlayGame.id}}" class="btn btn-sm btn-danger delete-game-button">X</button>
          </div>
        </div>

      {{/each}}

  </div>
</div>

<!-- STARTED PLAYING | STARTED PLAYING | STARTED PLAYING | STARTED PLAYING -->
<!-- STARTED PLAYING | STARTED PLAYING | STARTED PLAYING | STARTED PLAYING -->

<div id="started-playing-div" class="container col-xs-4 list-container-div">
  <h2 class="list-header">Started Playing</h2>
  <div class="col-xs-12">

      {{#each startedGames as |startedGame|}}

        <div class="list-item-div active hover" data-id="{{startedGame.id}}">
          <div class="col-xs-7">
            <h4 data-id="{{startedGame.id}}">{{startedGame.title}}</h4>
          </div>
          <div class="col-xs-5">
            <button data-id="{{startedGame.id}}" class="btn btn-sm btn-info list-item-more-button">More</button>
            <button data-id="{{startedGame.id}}" class="btn btn-sm btn-danger delete-game-button">X</button>
          </div>
        </div>

      {{/each}}

  </div>
</div>

<!-- COMPLETED | COMPLETED | COMPLETED | COMPLETED | COMPLETED | COMPLETED | -->
<!-- COMPLETED | COMPLETED | COMPLETED | COMPLETED | COMPLETED | COMPLETED | -->

<div id="completed-div" class="container col-xs-4 list-container-div">
  <h2 class="list-header">Completed</h2>
  <div class="col-xs-12">

      {{#each completedGames as |completedGame|}}

        <div class="list-item-div active hover" data-id="{{completedGame.id}}">
          <div class="col-xs-7">
            <h4 data-id="{{completedGame.id}}">{{completedGame.title}}</h4>
          </div>
          <div class="col-xs-5">
            <button data-id="{{completedGame.id}}" class="btn btn-sm btn-info list-item-more-button">More</button>
            <button data-id="{{completedGame.id}}" class="btn btn-sm btn-danger delete-game-button">X</button>
          </div>
        </div>

      {{/each}}

  </div>
</div>

</div>
